a {
    cursor: pointer;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}

li {
    list-style: none;
}

.sidebar {
    height: 100%;
    width: 18%;
    padding: 10px;
    background-color: #2c2c2c;
    position: fixed;
    transition: all .4s ease;
    color: #DEE2E6;
    width: 280px;
}

.offcanvas-title {
    color: #e4e4e4;
}

.sidebar-nav {
    list-style: none;
    margin-bottom: 0;
    padding-left: 0;
    margin-left: 0;
}

.sidebar-link {
    padding: .625rem 1.625rem;
    color: #ececec;
    position: relative;
    display: block;
    font-size: 0.875rem;
}

.sidebar-link:hover {
    background: linear-gradient(#720000ad,#161616ad,#000000ad);
    border-radius: 10px;
}

.sidebar-nav>div {
    display: flex;
    align-items: center;
    padding: 11px 15px;
    text-align: center;
    cursor: pointer;
    margin-bottom: 5px;
    border-radius: 10px;
    font-size: 1.08rem;
}

.sidebar-nav>div:hover {
    background: rgba(255, 255, 255, 0.254);
    transition: all .4s ease-in-out;
}